$background-primary: #f2f2ec;
$accent-1: #342a33;
$accent-2: #492e3a;
$accent-3: #a93d35;
$accent-4: #a18063;

:export {
  background-primary: $background-primary;
  accent-1: $accent-1;
  accent-2: $accent-2;
  accent-3: $accent-3;
  accent-4: $accent-4;
}
