@import "./_variables.module.scss";
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Roboto", sans-serif;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes bgclr {
  0% {
  }
  100% {
    background-color: #e0b56a;
    color: black;
  }
}
.App {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

@media (max-width: 768px) {
  .App {
    gap: 1rem;
    flex-direction: column;
  }
}

.btn {
  margin-top: 2rem;
  width: 8rem;
  height: 2rem;
  border-radius: 1rem;
  background-color: #1f2937;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}
.btn:hover {
  background-color: #3882f6;
  transform: scale(1.2);
  cursor: pointer;
}
